.albumCover {
  width: 100%;
  height: auto;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.albumCover img {
  width: 70%;
}

@media (min-aspect-ratio: 1/1) {
  .albumCover {
    width: auto;
    height: calc(100% - 80px);
  }

  .albumCover img {
    width: auto;
    height: 100%;
  }
}
