@import "../../styles/colors.scss";

.controlButtons {
  width: 80%;
  height: 23%;

	padding: 0px 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

PlayButton {
  font-size: 20pt;
}
